body {
	background-color: #139BCC;
	color: #333A50;
}
article {
	width: 30em;
	margin: 1em;
	float: left;
	font-family: serif;
}
article p:nth-child(2){
	color: black;
}
article p {
	font-size: 1.5em;
}
aside p{
	font-size: 1.1em;
	font-style: italic;
	font-family: serif;

}
aside {
	width: 13.5em;
	float: left;
}
article p:last-child{
	font-weight: bold;
}
h1 {
	font-family: sans-serif;
}