body {
	background-color: #139BCC;
	color: #333A50;
}
article {
	width: 30em;
	margin: 1em;
	float: left;
	font-family: serif;
}
article p:nth-child(2){
	color: black;
}
/*article p {
	font-size: 1.5em;
}*/
aside p{
	font-size: 1.1em;
	font-style: italic;
	font-family: serif;

}
aside {
	width: 13.5em;
	float: left;
}
aside img{
	width: 100%;
}
article p:last-child{
	font-weight: bold;
}
h1 {
	font-family: sans-serif;
	font-size: 3em;
	color: #fff;
	text-shadow: 8px 5px 0 black;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
article p:nth-child(2){
	font-size: 1.5em;
}
article p:nth-child(3){
	font-size: 1.4em;
}
article p:nth-child(4){
	font-size: 1.3em;
}
article p:nth-child(5){
	font-size: 1.2em;
}
article p:nth-child(6){
	font-size: 1.1em;
}
article p:nth-child(7){
	font-size: 1em;
}
footer{
	font-size: 0.6em;
}

